.Skill{

}
.skill__container-wrapper{
    display: flex;
    padding: 20px;
    gap: 20px;
}
.skill__container-wrapper__inner-content{
    flex: 1;
    display: flex;
     flex-direction: column;
     /* align-items: center; */
}
.skill__container-wrapper__inner-content__category-text{
    display: inline-block;
    color: var(--yellow-theme-main-color);
    font-size: 22px;
    font-weight: 600;
     line-height: 1rem;
     letter-spacing: 0.5px;
     position: relative;
     text-transform: uppercase;
     padding: 5px 10px ;
     
}
.skill__container-wrapper__inner-content__category-text ::after{
    position: absolute;
   content: '';
    width: 2px;
    height: 5px ;
    background-color: var(--yellow-theme-main-color);
    bottom: -1px;
}
.skill__container-wrapper__inner-content__category-text ::before{
    left: 0;

}
.skill__container-wrapper__inner-content__category-text::after {
    right: 0;
}
.skill__container-wrapper__inner-content__category-text div{
    width: 100%;
}
.progressbar_wrapper{
    padding: 50px 0px 0px 0px  ;
}
.progressbar_wrapper p{
    font-size: 1.6rem;
    margin:  0 0 10px;
    /* font-weight: 500;
    text-transform: uppercase;
    color: white; */
}
.progressbar_wrapper h4{
    color: white;
    font-size: 1.6rem;
    margin:  0 0 10px;
    text-transform: uppercase;
    font-weight: 700;
    
}


@media screen and (min-width : 320px) and (max-width:375px){
    .skill__container-wrapper{
        margin-top: 2%;
    }
    .skill__container-wrapper__inner-content__category-text{
        font-size: 2rem;
    }
    .skill__container-wrapper__inner-content__category-text{
        font-size: 1.5rem;
       }
}
@media screen and (min-width : 375px) and (max-width:425px){
    .skill__container-wrapper{
        margin-top: 85%;
    }
    
}
@media screen and (min-width : 425px) and (max-width:768px){
    .skill__container-wrapper{
        margin-top: 68%;
    }
   .skill__container-wrapper__inner-content__category-text{
    font-size: 2rem;
   }
}
@media screen  and (max-width:768px){
    .skill__container-wrapper{
        display: flex;
        flex-direction: column;
    }
    .skill__container-wrapper__inner-content__progressbar-container{
        margin-bottom: 20px;
    }
    
}