
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --yellow-theme-background-color : #1d1d1d;
  --yellow-theme-main-color : #ffff;
  --yellow-theme-sub-text-color : #ffffff;
  --yellow-theme-nav-background-color : #181818;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0px;
  scroll-behavior: smooth ;
}
html{
  font-size: 62.5%;
  height: 100%;
}
body{
 
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style:normal;
  background: rgb(81, 64, 192);
background: -moz-linear-gradient(102deg, rgba(13,6,58,1) 33%, rgba(151,72,233,1) 23%, rgb(13,6,58,1) 100%);
background: -webkit-linear-gradient(102deg, rgba(13,6,58,1) 33%, rgba(151,72,233,1) 23%, rgb(13,6,58,1) 100%);
background: linear-gradient(102deg, rgba(13,6,58,1) 33%, rgb(103, 36, 175) 23%, rgb(13,6,58,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d063a",endColorstr="#415824",GradientType=1);

  
}
#root{
  height: 100%;
}